<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
              th:href="@{css/bootstrap.min.css}"
              >
    </head>
    <body>

        <div class="container">
            <form th:action="@{index}" method="get">
                <label>Mot cle:</label>
                <div class="form-group">
                    <input class="form-control" type="text" name="motcle" th:value="${mc}"/>
                    <button type="submit" class=" mt-2 btn btn-outline-primary">Chercher</button>
                </div>

            </form>
            <table width="1px" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Telephone</th>
                        <th>Action</th>
                    </tr>
                <tbody>
                    <tr th:each="client:${listClient}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.nom}"></td>
                        <td th:text="${client.prenom}"></td>
                        <td th:text="${client.tele}"></td>
                        <td>
                            <a onclick="return confirm('vous voulez vraiment supprimer le client')" class="btn btn-danger btn-sm" th:href="@{delete(id=${client.id})}">Delete</a>
                            <a  class="btn btn-warning btn-sm" th:href="${client.id}">Update</a>
                            <a  class="btn btn-info btn-sm" th:href="${client.id}">Show</a>
                        </td>

                    </tr>
                </tbody>
                </thead>
            </table>
        </div>

    </body>
</html>
